FIVEM_PUBLIC_ID=YOUR_PUBLIC_SERVER_ID
FIVEM_WHITELIST_ID=YOUR_WHITELIST_SERVER_ID
FIVEM_ACADEMY_ID=YOUR_ACADEMY_SERVER_ID
NEXTAUTH_URL=https://www.pulserp.net
NEXTAUTH_SECRET=replace-me
STEAM_API_KEY=0F390E7A12E29553D38D84CB4AC30954
DATABASE_URL=postgresql://user:password@localhost:5432/pulserp
MYTHIC_MONGODB_URI=mongodb://localhost:27017
MYTHIC_MONGODB_DB=fivem
MYTHIC_CHARACTERS_COLLECTION=characters
MYTHIC_USERS_DB=auth
MYTHIC_USERS_COLLECTION=users
MYTHIC_IDENTIFIER_FIELD=identifier
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/replace-me
DISCORD_CLIENT_ID=1503194852735582220
DISCORD_CLIENT_SECRET=HpUxRkPTF0dTvbFES89dMk2DOColGrao
DISCORD_REDIRECT_URI=https://www.pulserp.net/api/auth/discord/callback
DISCORD_BOT_TOKEN=MTUwMzE5NDg1MjczNTU4MjIyMA.G-6kKR.vSEnwuE8Hv5Be2luW_7ZFjvGTIzI9qGbo7JMwI
DISCORD_GUILD_ID=1497418643569643741
DISCORD_ROLE_ADMIN_ID=1503194020149592166
DISCORD_ROLE_DEV_ID=1503193978579714180
DISCORD_ROLE_STAFF_ID=1503194045030076537
DISCORD_ROLE_MEMBER_ID=1503194327390883982
DISCORD_ROLE_ALLOWLISTED_ID=1503194262353744062
DISCORD_ROLE_QUEUE_BRONZE_ID=1503192689892524072
DISCORD_ROLE_QUEUE_GOLD_ID=1503192712726450216
DISCORD_ROLE_QUEUE_DIAMOND_ID=1503192732246736947
FIVEM_ALLOWLIST_ADDRESS=169.197.85.213:30120
